

#errorNombre{
    display: none;
}
#errorDireccion{
    display: none;
}
#errorCorreo{
    display: none;
}
#errorTel{
    display: none;
}
#errorInicio{
    display: none;
}
#errorFin{
    display: none;
}