.footer{
    
    width: 100%;
    height: 140px;
}
#cont {
 width: 200px;
 height: 40px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: var(--colorazul);
 border-radius: 10px;
 margin-bottom: 20px;
 margin-left: 690px;
}
.contactos{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 15px;
}
.contactos #cuentas {
 width: 1400px;
 height: 50px;
 margin-left: 10px;
 margin-right: 10px;
 background-color: var(--colorAzu);
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 70px;
}
.contactos #cuentas div a{
   display: flex;
   gap: 5px;
   text-decoration: none;
   color: black;
}
/*Flecha*/
#volver a{
 font-size: 30px;
 color: var(--colorRoug);
}