
.footer {
    background-color: rgba(0, 68, 53, 0.634);
    h5{
        color: black;
    }
    i{
        color: black;
    }
    a{
        text-decoration: none;
    }
    .texto{
        justify-content: space-between;
        
    }
    .icons{
        justify-content: space-between;
        a{     
            i{
                
                border: 1px solid rgb(5, 5, 5);
                font-size: 16px;
            }
        }
    }
}
