
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* Container que contiene las tres cajas */
    .copYenlaces{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* Caja del copyrigth */
        
        /* Caja de los contactos iconos de las redes sociales */
        .enlaces{
            display: flex;
            justify-content: space-around;
            i{
                color: black;
                border-radius: 5px;
                background: #93262657;
            }
            i:hover{
                background: #93262694;
            }
        }

    }
}


