
/* CAJA DEL NAV */
.head{
    
    background-color: #059126cf;
    border-bottom: 1px black solid;
    /* box-shadow: 1px 1px 1px rgb(33, 32, 30); */
   
    .nomEmpresa{
        font-family: cambria;
        color: rgb(0, 0, 0);
        font-size: 19px;
        font-weight: 800;
    }
    .nav-item{
        a{
            font-family: cambria;
            font-size: 19px;
            color: rgb(0, 0, 0);
            font-weight: 800;
            
        }
    }
    i{
        font-size: 14px;
        color: rgb(0, 0, 0);
        
    }
    
}
.inpt::placeholder{
    font-size: 16px;
    font-family: cambria;
    color: rgba(255, 255, 255, 0.578);
}

/* BUSCADOR */
.buscador{
    width: 500px;
    height: 30px;
    border: 1px solid rgb(214, 207, 207);
    border-radius: 5px;
    
    /* Input del buscador */
    .inpt{
        width: 550px;
        border-radius: 0px 5px 5px 0px;
        border: none;
        background-color: none;
        outline: none;
        color: white;
        background-color: rgba(0, 128, 0, 0);
    }
}
/* Caja de los enlaces y el buscador */
.cajEnlaces{
    a:hover{
        color: rgb(255, 255, 255);
       font-weight: bold;
        
    }
}
.input.inpt::placeholder{
    font-size: 15px;
    font-family: cambria;
}

/* RESPONSIVE */
@media (min-width: 268px) and (max-width:768px){
    .buscador{
        width: 290px;
        border: 1px solid rgb(214, 207, 207);
        border-radius: 5px;
        box-shadow: 1px 1px 2px black;
        
        /* Input del buscador */
        .inpt{
            width: 550px;
            border-radius: 0px 5px 5px 0px;
            border: none;
            background-color: none;
            outline: none;
            color: white;
            background-color: rgba(0, 128, 0, 0);
        }
    }
}

