

@import url(./css.css);


/*Eslogan*/
.bann{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.434), rgba(0, 0, 0, 0.686)),url(../img/fon2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    .head{
      background-color: rgba(250, 235, 215, 0);
      border-bottom: none;
    }
    
    
    /* Titulo */
    .eslo{
      font-size: 20px;
      font-family: cambria;
      color: rgb(255, 255, 255);
      
      h3{
        font-size: 20px;
        font-weight: bold;
  
      }
      h1{
        font-size: 25px;
        font-weight: bold;
        color: rgb(255, 157, 0);
       
      }

    }
    
    /*Eslogan*/
    .eslogan{
      justify-content:center;
      /* align-items: center; */
      flex-wrap: wrap;
      p{
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-family: cambria;
        font-weight: bold;
      }
    }
  }

  /* Titulos */
  .titulo{
    margin-top: 180px;
    font-style: italic;
    font-size: 35px;
    font-weight: 700;
    color: orangered;
  }

    /*SOBRE NOSOTROS */
    .cajaNosotros{
      .sobreNos{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .texto{
          text-align: justify;
          height: auto;
        }
        a{
          font-family: calibri;
          text-decoration: none;
          height: 35px;
          color: white;
          border-radius: 5px;
          background-color: rgba(47, 132, 4, 0.804);
        }
        a:hover{
          background-color: rgb(10, 10, 10);
          
        }
        .foto{
        
         /* background-color: #560303af; */
         img{
          width: 100%;
         }
         
        }
      }
  
    }
  
    /*CAJA GENERAL DE LAS CATEGORIA DE LOS PRODUCTOS */
    .categorias{
      justify-content: space-around;
      height: auto;
      
      h5{
        font-family: sans-serif;
        color: rgb(0, 0, 0);
      }
      /* Caja de cada categoria */
     .categoria{
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
      .card{
        height: 290px;
        border: none;
        img{
          height: 130px;
        }
        a{
          font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          text-decoration: none;
          height: 35px;
          font-weight: bolder;
          color: blue;
        }
      }
     }
    }

    /* CAJA DE LA Productos Mas Comprados */
    .prodComprados{
      .comprados{
        justify-content: center;
        gap: 30px;
        border: none;
        flex-wrap: wrap;
      }
    }


    /* CAJA DE LAS NOTICIAS */
    .noticias{
  
      .noticia{
        cursor: pointer;
        div{
         
         p{
          color: rgb(2, 89, 10);
          background-color: rgba(0, 0, 0, 0.221);
         }
          img{
            height: 500px;
          }
        }
      }
    }
   


    /* RESPONSIVE */
  @media (min-width:268px) and (max-width:768px){
      /*Eslogan*/
      .banner{
        height: 450px;
        
        /* Titulo */
        .eslo{
          font-size: 18px;
          h3{
            font-size: 20px;
            font-weight: bold;
            padding: 0;
           

          }
          h1{
            font-size: 20px;
            font-weight: bold;
            color: rgb(255, 225, 0);
            padding: 0;
            margin-bottom: 0px;
          }

        }
  
        /*Eslogan*/
        .eslogan{
          justify-content:center;
          align-items: center;
          /* flex-wrap: wrap; */
          p{
            padding: 0;
            margin: 0;
            font-size: 20px;
            font-family: cambria;
            font-weight: bold;
          }
        }
      }

        /*SOBRE NOSOTROS */
        .leer{
          margin-top: 20p;
          margin-bottom: 20px;
        }
        .foto{
          img{
            border-radius: 2%;
          }
        }

        /*CAJA GENERAL DE LAS CATEGORIA DE LOS PRODUCTOS */
        .titulCategori{
          text-align: center;
          margin-bottom: 0px;
        }
        .categorias{
          justify-content: space-around;
          flex-wrap: wrap;
          /* Caja de cada categoria */
          .categoria{
            width: 28rem;
            height: 350px;
            margin-top: 30px;
            object-fit: cover;
            img{
              height: 170px;
            }
          }

        }
        /* NOTICIAS */
        .noticias{
          height: 320px;
          /* background-color: #9f0404; */
          .carosel{
            height: 300px;
            /* img{
              height: 200px;
            } */
          }
          
        }
    }
  
 