

@import url(./css.css);

/*Eslogan*/
.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.566), rgba(0, 0, 0, 0.604)),url(../img/fondwec3.png);
    background-position: center;
    background-size: cover cover;
    /* background-repeat: no-repeat; */
    height: 500px;
    
    /* Titulo */
    .eslo{
      font-size: 20px;
      font-family: cambria;
      color: rgb(255, 255, 255);
      
      h3{
        font-size: 20px;
        font-weight: bold;
  
      }
      h1{
        font-size: 25px;
        font-weight: bold;
        color: rgb(255, 225, 0);
       
      }

    }
    
    /*Eslogan*/
    .eslogan{
      justify-content:center;
      align-items: center;
      flex-wrap: wrap;
      p{
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-family: cambria;
        font-weight: bold;
      }
    }
  }
    /*SOBRE NOSOTROS */
    .sobreNos{
      justify-content: space-around;
      align-items: center;
      margin-top: 200px;
      .texto{
        width: 600px;
        text-align: justify;
      }
      a{
        font-family: cambria;
        text-decoration: none;
        height: 35px;
        color: white;
        background-color: rgb(17, 4, 132);
      }
      a:hover{
        background-color: rgb(10, 10, 10);
        
      }
      .foto{
       width: 500px;
       height: 550px;
       background-color: #560303af;
       box-shadow: 2px 2px 2px rgb(0, 0, 0);
       
      }
    }

    /*CAJA GENERAL DE LOS PRODUCTOS */
    .categorias{
      .categoria{
        justify-content: space-around;
        
        a{
          color: black;
        }
        .categor{
          box-shadow: 2px 2px 2px black;
        }
      }

    }


   
  
 