

@import url(./css.css);


/*Eslogan*/
.bann{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.434), rgba(0, 0, 0, 0.686)),url(../img/fon2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
   
    
    
    /* Titulo */
    .eslo{
      font-size: 20px;
      font-family: cambria;
      padding-top: 50px;
      color: rgb(255, 255, 255);
      /* Bienvenido a la */
      h3{
        font-size: 20px;
        font-weight: bold;
  
      }
      /* fructicola Bokuy Mangue */
      h1{
        font-size: 25px;
        font-weight: bold;
        color: rgb(255, 157, 0);
       
      }

    }
    
    /*Eslogan*/
    .eslogan{
      justify-content:center;
      align-items: center;
      /* flex-wrap: wrap; */
      p{
        padding-top: 90px;
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-family: cambria;
        font-weight: bold;
      }
    }
  }

  /* Titulos */
  .titulo{
    font-style: italic;
    font-size: 35px;
    font-weight: 700;
    color: orangered;
    text-align: center;
  }

    /*SOBRE NOSOTROS */
    .cajaNosotros{
      
      .sobreNos{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .texto{
          text-align: justify;
          height: auto;
        }
        a{
          font-family: calibri;
          text-decoration: none;
          height: 35px;
          color: white;
          border-radius: 5px;
          background-color: rgba(47, 132, 4, 0.804);
        }
        a:hover{
          background-color: rgb(10, 10, 10);
          
        }
        .foto{
        
         /* background-color: #560303af; */
         img{
          width: 100%;
         }
         
        }
      }
  
    }

    /* HOARARIO */
    .horario{
      margin-top: 100px;
      justify-content: center;
      align-items: center;
      height: auto;
      .horari{
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.088);

        /* Horario */
        .hora{
          font-weight: 500;
          .festi{
              font-weight: 700;
          }
        }
        
        .h3, .festi{
          color: rgb(14, 1, 199);
          text-align: center;
        }
        .cont{
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  
    /*CAJA GENERAL DE LAS CATEGORIA DE LOS PRODUCTOS */
    .cajaCategorias{
      justify-content: center;
      height: auto;
      
      h5{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 25px;
        font-weight: 600;
        font-style: italic;
        color: rgb(122, 27, 27);
      }
      /* Caja general de las categoria */
     .categorias{
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      height: auto;
        /* Caja de las categorias*/
        .categoria{
          
          height: auto;
          border: none;
          width: 250px;
          .foto{
            width: 100%;
            img{
              width: 100%;
              height: 170px;
            }
          }
          .texto a{
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-decoration: none;
            font-weight: bolder;
            color: blue;
            
          }
          
      }
     }
     /* CONTADOR DE CATEGORIAS */
     .contador{
        width: 80%;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .cats{
          width: 250px;
          height: 30px;
          background-color: #81080878;
          p{
            font-size: 18px;
            font-family: cambria;
            font-weight: 550;
          }
        }
      
    }
    }

    /* Caja de la galeria */
    .cajaGaleria{
      .titulo{
        margin-top: 80px;
      }
      .galeria{
        justify-content: center;
        gap: 30px;
        border: none;
        border-radius: 0px;
        flex-wrap: wrap;
        .producto{
          width: 290px;
          height: 200px;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    /* CAJA DE LAS NOTICIAS */
  
    .noticias{
      height: 600px;
      .noticia{
        background-color: #6c0a0a;
        .carousel-item img{
          height: 600px;
          width: 100%;
        }
        .carousel-caption {
      position: absolute;
      left: 10%;
      bottom: 10%;
      width: 80%;
      background-color: rgba(27, 24, 24, 0.793); 
      color: white;
      text-align: center;
    }
    }
  } 
   


    /* RESPONSIVE */
  @media (min-width:268px) and (max-width:768px){
      /*Eslogan*/
      .banner{
        height: 200px;
       /*Eslogan*/
    .eslogan{
      p{
        padding-top: 900px;
        color: rgb(255, 255, 255);
        font-size: 17px;
      }
    }
      }

        /*SOBRE NOSOTROS */
        .cajaNosotros{
          .titulo{
            margin-top: 20px;
          }
          .leer{
            margin-top: 10px;
          }
          .foto{
            img{
              margin-top: 20px;
            }
          }
        }
        


         /* HOARARIO */
    .horario{
 
      margin-top: 50px;
     
      .horari{
        flex-direction: column;
        font-size: 16px;
        background-color: rgba(0, 0, 0, 0.088);

        /* Horario */
        .hora{
          padding: 10px;
          font-weight: 500;
          .festi{
              font-weight: 700;
          }
        }
        
        .h3, .festi{
          color: rgb(14, 1, 199);
          text-align: center;
        }
        .cont{
          font-size: 20px;
          font-weight: bold;
        }
      }
    }

        /*CAJA GENERAL DE LAS CATEGORIA DE LOS PRODUCTOS */
        .titulo{
          text-align: center;
          font-size: 25px;
          margin-bottom: 0px;
        }
        .categorias{
          justify-content: space-around;
          flex-wrap: wrap;
          /* Caja de cada categoria */
          .categoria{
            width: 28rem;
            height: 350px;
            margin-top: 30px;
            object-fit: cover;
            img{
              height: 170px;
            }
          }

        }
        
    /* CAJA DE LAS NOTICIAS */
  
    .noticias{
      height: 400px;
      
      .noticia{
        
        .carousel-item img{
          height: 400px;
          width: 100%;
        }
        .carousel-caption {
      position: absolute;
      left: 10%;
      width: 80%;
      height: 120px;
      background-color: rgba(27, 24, 24, 0.793); 
      color: white;
      text-align: center;
    }
    }
  } 
}
  
 