


/* CAJA GENERAL DEL CARRITO Y LOS BOTONES */
.carritoYformul{
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
}
/* Carrito */
.carrito{
  width: 900px;
  text-align: center;
  box-shadow: 2px 2px 5px black;
  font-family: cambria;
  .totalElemnto{
    .titulo{
      
      font-weight: 600;
    }
    .precio{
      font-weight: 800;
    }
  }

}


.botones{
  button{
    background-color: #33c30b00;
    border: none;

  }
  button:hover{
    
    background-color: rgb(81, 81, 87);
    color: white;
  }
}
/* RESPONSIVE */
@media (min-width:268px) and (max-width:768px){
  .carrito{
    width: 880px;
    .cadaElemnto{
      
     .span{
      display: none;
     }
      .img{
        padding-left: 0px;
        img{
          width: 12px;
        }
      }
      .prec{
        font-size: 15px;
      }
      
    }
   
  
  }
  .botones{
    text-align: start;
    button{
      font-size: 12px;
      
    }
    
}
}