
/*SOBRE NOSOTROS */
/* BANNER */
.banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.566), rgba(0, 0, 0, 0.604)),url(../img/fond1.jpg);
  background-position: center;
  background-size: cover cover;
  /* background-repeat: no-repeat; */
  height: 150px;
  p{
    text-align: center;
  }
}

/*SOBRE NOSOTROS */
.sobreNos{
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin-top: 100px; */
  
  /* Caja de nuestra vision */
  .texto{
    width: 600px;
    text-align: justify;
  }
  .foto{
   width: 350px;
   height: 400px;
   img{
    width: 100%;
    height: 100%;
   }
   
  }
}
/* QUIENES SOMOS */
.Qsomos{
  
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  /* Caja particular */
  .somos{
    width: 300px;
    height: auto;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    
    img{
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
    p{
      font-family: cambria;
      color: rgb(0, 0, 0);
    }
  }
}

