
body{
  background-color: #490202;
}


.titulo{
  font-weight: bold;
  color: orangered;
  font-style: italic;
  font-size: 35px;
}

/*SOBRE NOSOTROS */
.sobreNos{
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  .texto{
    text-align: justify;
    font-family: Cambria;
   
  }
  .foto{
   
   height: 380px;
   img{
    width: 100%;
    height: 100%;
   }
  }

}



/*NUESTRA VISION */
.vision{
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-top: 90px;
  .texto{
   
    text-align: justify;
    font-family: Cambria;
    .titulo{
        font-weight: bold;
    }
  }
  .foto{
   /* margin-left: 40px; */
   width: 250px;
   height: 370px;
   img{
    width: 100%;
    height: 100%;
   }
  }
}

/* QUIENES SOMOS */
.Qsomos{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: auto;
  /* Caja particular */
  .somos{
    
    width: 250px;
    height: auto;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    
    img{
      width: 100%;
      height: 200px;
      border-radius: 50%;
    }
    p{
      font-family: cambria;
      color: rgb(0, 0, 0);
    }
  }
}

/* RESPONSIVE */
@media (min-width:268px) and (max-width:768px){
  /* .texto{
    width: 400px;
  } */
}
