

/* BANNER */
.banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.566), rgba(0, 0, 0, 0.604)),url(../img/fond1.jpg);
  background-position: center;
  background-size: cover;
  /* background-repeat: no-repeat; */
  height: 150px;
  p{
    text-align: center;
  }
}


/*SOBRE NOSOTROS */
.sobreNos{
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  .texto{
    width: 700px;
    text-align: justify;
    font-family: Cambria;
    .titulo{
        font-weight: bold;
    }
  }
  .foto{
   width: 400px;
   height: 400px;
   img{
    width: 100%;
    height: 100%;
   }
  }
}



/*NUESTRA VISION */
.vision{
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-top: 90px;
  .texto{
    width: 600px;
    text-align: justify;
    font-family: Cambria;
    .titulo{
        font-weight: bold;
    }
  }
  .foto{
   margin-left: 40px;
   width: 300px;
   height: 450px;
   img{
    width: 100%;
    height: 100%;
   }
  }
}

/* QUIENES SOMOS */
.Qsomos{
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  /* Caja particular */
  .somos{
    
    width: 300px;
    height: auto;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    
    img{
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
    p{
      font-family: cambria;
      color: rgb(0, 0, 0);
    }
  }
}

/* RESPONSIVE */
@media (min-width:268px) and (max-width:768px){
  /* .texto{
    width: 400px;
  } */
}
