:root{
    --colorRoug: rgba(209, 27, 27, 0.937);
    --colorBlanc:rgb(253, 253, 253);
    --colorAmar:rgb(247, 255, 8);
    --colorAzu:rgba(43, 9, 163, 0.774);
    --colorazul:rgb(0, 204, 255);
    --colorVerd: rgba(9, 255, 0, 0.438);
  }
  body{
    background-color: gold;
  }
  
  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  
  #header {
    display: flex;
    align-items: center;
    gap: 300px;
    background-color: black;
    height: 90px;
    width: 100%;
    position: sticky;
    top: 0;
  }
  .logo img {
    width: 170px;
    height: 100px;
    padding-left: 40px;
  }
  /*Buscador*/
  .buscador {
    width: 200px;
    display: flex;
    align-items: center;
    background-color: var(--colorBlanc);
    border-radius: 5px;
  }
  .buscador i {
    font-size: 15px;
    width: 30px;
    margin: 5px 0px 5px 5px;
  }
  .buscador input {
    outline: none;
    border: none;
    width: 90px;
    height: 25px;
    
    border-radius: 0px 5px 5px 0px;
   
  }
  #nav{
    display: flex;
    align-items: center;
    gap: 50px;
  }
  
  .menus #nav a {
    text-decoration: none;
    margin-left: 30px;
    margin-right: 20px;
    color: var(--colorAmar);
    font-size: 23px;
    font-family: cambria;
  }
  .menus #nav a:hover{
   border-top: 3px solid var(--colorazul);
   border-bottom: 3px solid var(--colorazul);
   color: white;
   border-radius: 7px;
 
  }

  /*Hamburguesa*/
.imgMenu{
    display: none;
  }
  /*Formulario del login*/
  #formul {
    width: 500px;
    height: auto;
    margin-top: 150px;
    background-color: rgb(255, 255, 255);
    padding: 20px 30px;
    border-radius: 10px;
    margin-left: 600px;
    background-image: linear-gradient();
    
    
  }
  .campos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;  
    margin: 30px 0;
    border-radius: 5px;
    gap: 10px;
    
  }
  .campos input{
    border: none;
    outline: none;
    width: 300px;
    height: 30px;
    padding: 5px 10px;
    background-color: rgba(25, 97, 178, 0);
    border-bottom: 1px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.50);
  }
  .campos i{
    color: rgba(13, 150, 205, 0.89);
    font-size: 20px;
  }
  .login img{
    width: 250px;
    height: 150px;
    margin-left: 80px;
  }
  .campos input[type="text"]:focus{
   border-bottom: 1px solid rgb(59, 5, 255);
   
   
  }
  /*Boton Entrar del login*/
  .btn input {
    width: 100px;
    height: 30px;
    background-color: rgba(17, 226, 34, 0.729); 
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
    display: block;
    font-family: cambria;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
  }
  .btn input:hover{
    cursor: pointer;
  }
  

/*RESPONSIVE*/


@media (min-width: 0px) and (max-width:480px){

  /*Haburguesa*/
  .menus{
    justify-content: flex-end;
    position: relative;
  }
  .menus .imgMenu{
    display: block;
    
  }
  .imgMenu img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .menus #nav{
    display: none;
  }
  .menus #nav a{
    display: block;
    color: rgb(54, 246, 0);
    font-family: cambria;
    font-size: 25px;
    padding: 2px;
  }
  .menus #nav.activo{
    right: 0px;
    position: absolute;
    display: block;
    top: 52px;
    width: 390px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.563);
  }
  
  #header {
    display: flex;
    align-items: center;
    background-color: black;
    height: 70px;
    width: 490px;
    gap: 80px;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .logo img {
    width: 70px;
    height: 70px;
    padding-left: 3px;
  }
  /*Formulario del login*/
  #formul {
    width: 400px;
    height: auto;
    margin-top: 150px;
    background-color: rgba(123, 10, 123, 0.46);
    padding: 20px 30px;
    border-radius: 10px;
    margin-left: 50px;
    background-image: linear-gradient();
    
    
  }
  .login img{
    width: 220px;
    height: 120px;
    margin-left: 70px;
  }
  }
  /*Para telefono inclinado*/
  @media (min-width: 481px) and (max-width: 768px){
    #header {
        width: 790px;
        gap: 10px;
        
    }
    #nav{
      gap: 5px;
    }
    .menus #nav a {
      font-size: 17px;
      
    }
   
  /*Formulario del login*/
  #formul {
    width: 500px;
    height: auto;
    margin-top: 100px;
    background-color: rgba(123, 10, 123, 0.46);
    padding: 20px 30px;
    border-radius: 10px;
    margin-left: 140px;
    background-image: linear-gradient();
    margin-bottom: 30px;
    
    
  }
  .login img{
    width: 230px;
    height: 130px;
    margin-left: 95px;
  }
  }
  
  /*Para tabletas*/
  @media (min-width: 768px) and (max-width: 1279px){
    /*header*/
    #header {
      height: 90px;
      width: 1200px;
      gap: 80px;
      
    }
    .menus #nav a {
      font-size: 25px;
      
    }
  }
